@font-face{
font-family: 'PFD-Light';
url('PFDinTextCompPro-Light_0.ttf') format('truetype'),
font-weight: light;
font-style: normal;
}

@font-face{
font-family: 'PFD-Medium';
url('PFDinTextCompPro-Medium.ttf') format('truetype'),
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'PFD-Regular';
url('PFDinTextCompPro-Regular.ttf') format('truetype'),
font-weight: normal;
font-style: normal;
}

