@font-face{
font-family: 'PFDiTCPro-Light_0';
url('PFDinTextCompPro-Light_0.ttf') format('truetype'),
font-weight: light;
font-style: normal;
}

@font-face{
font-family: 'PFDinTextCompPro-Medium';
url('PFDinTextCompPro-Medium.ttf') format('truetype'),
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'PFDinTextCompPro-Regular';
url('PFDinTextCompPro-Regular.ttf') format('truetype'),
font-weight: normal;
font-style: normal;
}

